@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}


.bg-body {
    width: 21rem;
}

.number {
    height: 20rem;
    padding-top: 9rem;
    font-size: 10rem;
} 

.float-start {
    font-size: 8rem;
    margin-bottom: -10rem;
}


.float-end {
font-size: 8rem;
transform: scaleY(-1);
}

.inverted {
    transform: scaleY(-1);
    margin-right: -3rem;
    margin-top: -6rem;
    }

img {width: 12rem;}
